*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
.counter{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 250px;
}
i{
    font-size: 30px;
}