* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eeefff;

}
.clock{
    background: url(clock.png);
    height: 450px;
    width: 450px;
    background-position: center;
    border-radius: 80%;
    background-size:cover ;
    background-color: blue;
    position: relative;
}
.hour .hr{
    height: 90px;
    width: 15px;
    background-color: blueviolet;
position: relative;
transform: rotate(90deg);
}