* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav {
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2%;
  justify-content: space-between;
}
.logo {
  font-size: 1rem;
}
ul {
  list-style-type: none;
  display: flex;
}
li {
  margin-right: 1rem;
}
a {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
a:hover {
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 2rem;
  padding: 0.4rem 0.8rem;
  color: black;
  background-color: white;
}
.menubtn {
  display: none;
}

@media (min-width: 900px) {
  ul a {
    font-size: 1.3rem;
  }
}

@media (max-width: 808px) {
  .menubtn {
    z-index: 1;
    display: block;
  }
 .logo{
    z-index: 1;
  }
  
  
  .fst {

    object-fit: cover;
    padding: -90px;
    height: 98vh;
    background-color: black;
    width: 100%;
    top: 4.90%;
    left: 0;
    right: 0;
    margin-left: -1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    transition: all 0.5s ease;
  }
  .menubtn{
    font-size: 1.5rem;
  }
  .active{
    margin-left: 0;
  }
  .fst li{

    margin: 40px;
  }
  .fst li a{  

    padding: 15px 25px;
    font-size: 1.5rem;
  }
}
@media (max-width: 415px) {
  .ham .links2 ul {
    top: 5%;
  }
}
@media (max-width: 768px) {
  .ham .links2 ul {
    top: 5.6%;
  }
}
@media (max-width: 390px) {
  .ham .links2 ul {
    top: 6.4%;
  }
}
@media (max-width: 376px) {
  .ham .links2 ul {
    top: 5.3%;
  }
}
@media (max-width: 361px) {
  .ham .links2 ul {
    top: 5.7%;
  }
}
