*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 215, 250);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    text-align: center;
    margin-top: 100px ;
    margin-bottom: 50px ;
}
.faqs{
    transition:all 3s ease-in;

    text-align: center;
    margin: 20px 10%;
    
}
details summary{
    transition: margin 1s ease-out;

    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    list-style: none;
    text-align: left;
    background-color:  #253447;
    color: white;
    padding: 10px;


}
details p{
    transition:all 3s ease-in;

    font-size: 15px;
    font-weight: 200;
    background-color: #1c2938;
    color: white;
    padding: 20px;
    box-shadow: 3px 3px 6px black;
    border: 1px solid rgb(0, 0, 0);
   
}
details{
    transition:all 3s ease-in;
}
summary::after{
    content: '\271A';
    
    float: right;
    margin-right: 30px;
}
details[open] summary::after{
    content: '\2716';
    transition: margin 150ms ease-out;
    animation: sweep .5s ease-in-out;
   

}
@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
  }