*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10%;
    background-color: #151522;
}
.input{
    text-align: center;
    margin: 50px 40px ;
}
input,button{
    width: 300px;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 600;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
button{
    padding: 9px 11px;
    width: 100px;
    color: white;
    background-color: #0099ff;
    border: none;
}
.input{
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

button:active{
    scale: 0.9;
}
